<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Meowser</title>

    <!-- <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css"/> -->
    <link rel="stylesheet" href="http://bootswatch.com/journal/bootstrap.min.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/mdb.min.css"> -->
    <link rel="stylesheet" href="css/main.css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>

    <!-- comments:comment-block html -->
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/angular-moment/angular-moment.js"></script>
    <script src="node_modules/plangular-3/dist/plangular.js"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.1.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/menu/menu.js"></script>
    <!-- endcomments -->

    <!-- comments:uncomment-block html -->
    <!--
    <script src="scripts/app.angular.min.js"></script>
    -->
    <!-- endcomments -->

</head>
<body ng-class="{'push': content}">
    <nav class="navbar navbar-default navbar-custom" role="navigation" ng-controller="searchCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav" ng-class="{'cover' : content}">
            <li class=""><a href="#!/featured">Featured</a></li>
            <li><a href="#"></a></li>

          </ul>
          <form class="navbar-form navbar-right" role="search" ng-submit="search(data)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="data">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <section class="sidebar" ng-controller="playerCtrl" ng-class="{'show': content}">
      <a ng-click="close()">X</a>
      <p>{{link}}</p>
      <div plangular="{{link}}" ng-init="start()">
        <h3>{{track.user.username}} - {{track.title}}</h3>
        <a ng-href="{{track.permalink_url}}">View on SoundCloud</a>
        <button ng-click="playPause()">Play/Pause</button>
        <small>{{ currentTime | hhmmss }} | {{ duration | hhmmss }}</small>
        <progress ng-value="currentTime / duration || 0">
        {{ currentTime / duration || 0 }}
      </progress>
        <div ng-if="!track">
          No song!
        </div>
      </div>
    </section>
    <div class="container-fluid">
        <ng-view>
            <h1>Loading...</h1>
        </ng-view>

    </div>
</body>
</html>
